<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel-Simplified</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPo86F2DoJ_-mJ0aqzope5nsYRRHdFMo0h9A&usqp=CAU" type="image/x-icon">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 0.5rem 1rem;
                text-align: center;
                text-decoration: none;
                /* display: inline-block; */
                font-size: 16px;
                /* margin: 4px 2px; */
                cursor: pointer;
                border-radius: 5px;
                width: 10rem;
            }
            a {
                color: #fff;
                text-decoration: none;
            }

            a:hover {
                color:#fff; 
                text-decoration:none; 
                cursor:pointer;  
            }
    </style>
</head>
<body>
    <figure><img src="/404.png" alt="Error Tempplate" class="center"></figure>
    <button class="button center"><a  class="btn-go-home" href="/hotels">GO BACK HOME</a></button>
</body>
</html>