<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Simplified</title>
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSPo86F2DoJ_-mJ0aqzope5nsYRRHdFMo0h9A&usqp=CAU" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <!-- Modernizer CDN || To make our website more browser specific -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to Hotel Simplified!</h1>
        <a href="/hotels" class="btn btn-lg btn-success">Let's Start !</a>
        <!-- <br>
        <br>
        <a href="https://github.com/Shouraya/Hotel-Simplified" class="btn btn-md btn-info" target="_blank">View Source Code</a> -->
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include("partials/footer") %>