<%- include("partials/header") %>
<h1>Create a new Hotel</h1>

<form action="/hotels" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="image" placeholder="Image Url">
    <button>Submit</button>
</form>

<a href="/hotels">Go Back !</a>
<%- include("partials/footer") %>